
nav{
    
    color: #e71d36;
    // background:#333533;
    width: 80%;
    margin: auto;
    min-height: 10vh;
    // padding: 3rem 0rem;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.logo{
    flex: 2;
}
.logo:hover{
    transition: 0.5s;
    cursor: pointer;
    color: #ff9f1c;
}

li:hover {
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



ul{
    
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    
    flex: 1;
}
a{
    color: #fdfffc;
}

li{
    margin: 2px;
    background-color:#2ec4b6;
    padding: 1rem 1rem;

}


.home{
    position: relative;
    // background: yellowgreen;
    height: 80vh;
    display: flex;
}

.banner1{
}


.Banner1-img {
    margin-top: 3%;
    position: absolute;
    left: 15%;
    right: 5%;
    height: auto;
    width: 70%;
}
img{
    filter: drop-shadow(4px 4px 100px rgba(0, 0, 0, 0.1));  
}