.location{
    min-height: 100vh;
    background: #F2F6FF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 15px;
}
.mtxt{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    .maptxt{
        font-family: 'Merienda', cursive;
        font-weight: 500;
        font-size: 6.3vw;
    }
    .mapp{
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        font-size: 2vw;
        color: #333;
    }
}
.map{
    flex: 1;
    padding-left: 8vw;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
}
.map :hover {
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
    }