.nearby{
    min-height: 100vh;
    background: #e71d36;
    // box-sizing: border-box;
}

.nearby-sections{
    margin-top: 15vh;
    display: flex;
    
    height: 80vh;
}

.map{
    
    background: #fafafa;
    width: 40vw;
    height: 80vh;
    text-align: center;
    border-radius: 10px;
    position: relative;


    .location-txt{
        margin-top: 5%;
        color: #333;
    }

    .map-api{
        position: absolute;
        
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
       margin: 5% 5% 5% 5%;
       width: 50%;
       height: 50%;
       
    }
}
.nearby-locations{
    
    // background: #777172;
    width: 60vw;
    text-align: center;
}