body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'lobster', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.home {
  min-height: 50vh;
  background: #020202;
}

.gallery2 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fca311;
}

.gallerytxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  text-align: center;
}

.gallerytxt .galleryh {
  font-family: 'Merienda', cursive;
  font-weight: 500;
  font-size: 9rem;
}

.gallerytxt .galleryp {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #333;
}

.mimg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin-top: 5vh;
}

@media screen and (max-width: 1024px) {
  .gallerycontainer {
    width: 40em;
    height: 40em;
    margin-top: 2%;
  }
  .gallery2 {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .gallerytxt {
    text-align: center;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 3%;
  }
  .gallerytxt .galleryh {
    text-align: center;
    font-size: 5rem;
  }
  .mimg {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    padding-bottom: 70vh;
  }
}

@media screen and (max-width: 800px) {
  .gallerytxt {
    text-align: center;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 3%;
    margin-left: 5%;
  }
  .gallerytxt .galleryh {
    font-size: 6rem;
  }
  .gallerytxt .galleryp {
    font-size: 2rem;
  }
  .mimg {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  body {
    font-size: 0.2vmin;
  }
  .gallerycontainer {
    width: 50em;
    height: 50em;
    margin-top: 2%;
  }
  .gallery2 {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .gallerytxt {
    text-align: center;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 3%;
  }
  .gallerytxt .galleryh {
    font-size: 5rem;
  }
  .mimg {
    margin-top: 0;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media screen and (max-width: 414px) {
  .gallery2 {
    min-height: 60vh;
  }
  .gallerytxt {
    text-align: center;
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
  .gallerytxt .galleryh {
    font-size: 4rem;
  }
  .gallerytxt .galleryp {
    font-size: 1.2rem;
  }
  .mimg {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    padding-bottom: 50vh;
  }
}

label {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gallerycontainer {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: 1vmin;
}

body .message {
  top: 1vw;
  width: 100vw;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
}

body .message a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

body .message a:hover {
  border-width: 3px;
}

body .gallerycontainer {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80em;
  height: 80em;
  margin-top: 2%;
}

body .gallerycontainer [class*='item'] {
  background: white;
  width: 33%;
  height: 33%;
  border: 1px solid transparent;
  background: url() center center/cover no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

body .gallerycontainer [class*='item']:hover {
  border: 1px solid white;
  z-index: 1;
}

body .gallerycontainer [class*='item']:nth-of-type(1) {
  top: 0;
  left: 0;
}

body .gallerycontainer [class*='item']:nth-of-type(2) {
  top: 0;
  left: 33%;
}

body .gallerycontainer [class*='item']:nth-of-type(3) {
  top: 0;
  left: 66%;
}

body .gallerycontainer [class*='item']:nth-of-type(4) {
  top: 33%;
  left: 0;
}

body .gallerycontainer [class*='item']:nth-of-type(5) {
  top: 33%;
  left: 33%;
}

body .gallerycontainer [class*='item']:nth-of-type(6) {
  top: 33%;
  left: 66%;
}

body .gallerycontainer [class*='item']:nth-of-type(7) {
  top: 66%;
  left: 0;
}

body .gallerycontainer [class*='item']:nth-of-type(8) {
  top: 66%;
  left: 33%;
}

body .gallerycontainer [class*='item']:nth-of-type(9) {
  top: 66%;
  left: 66%;
}

body .gallerycontainer input {
  display: none;
}

body .gallerycontainer input:checked + [class*='item'] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.location {
  min-height: 150vh;
  background: #fca311;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  min-height: 180vh;
  background: #020202;
}

.contactxt {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.contactsections {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.call {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
  border-radius: 20px;
  background-color: #ffffff;
  color: #F2F6FF;
  text-align: center;
}

.call .callh {
  font-size: 6rem;
  color: #000000;
}

.call .callp {
  font-size: 7rem;
  color: #000000;
}

.enq {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 6% 5% 5% 5%;
  border-radius: 30px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  border: none;
  border-bottom: 1px solid #F2F6FF;
  background-color: #000000;
  color: white;
}

label {
  color: white;
}

.form-group {
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  padding: 5px;
  font-size: 18px;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color: #cac8c8;
}

#status {
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: #ffffff;
  font-size: 1.5rem;
  -webkit-animation: status 2s ease forwards;
          animation: status 2s ease forwards;
}

#status.error {
  font-size: 1.5rem;
  background-color: #d00a0a;
  color: white;
  -webkit-animation: status 2s ease forwards;
          animation: status 2s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.mtxt {
  font-size: 2rem;
}

.maph {
  text-align: center;
  color: #ffffff;
}

#map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50vh;
  width: 90vw;
  margin: auto;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 10px;
  -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
}

.nav-container h2 {
  font-family: 'Merienda', cursive;
}

.link {
  font-size: 1.3rem;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 3rem;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
}

.navbar-menu {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

@media (max-width: 450px) {
  .nav-container {
    padding: 1px;
  }
}

.navbar-menu > .item {
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.navbar-menu > .item::after {
  background-color: #000000;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 100%;
}

.navbar-menu > .item > .link {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
}

.navbar-menu.-material > .item:hover::after,
.navbar-menu.-material > .item.-active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-menu.-material > .item::after {
  content: '';
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nearbyplaces {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fca311;
}

.nearbytxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  margin-top: 7%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.nearbytxt .nearbyh {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: 'Merienda', cursive;
  font-weight: 500;
  font-size: 8rem;
}

.nearbytxt .nearbyp {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.minigallery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  margin-bottom: 5%;
}

.minigallery .card {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F6FF;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.minigallery .cardimg {
  position: absolute;
  top: 2px;
  margin-top: -10%;
  margin-left: -2%;
  width: 55%;
  border-radius: 10px 10px;
}

.minigallery .cardtxt {
  width: 40%;
  margin-left: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.minigallery .cardh {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #db162f;
  -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
}

.minigallery .cardp {
  margin-top: 2%;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: grey;
  font-size: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 8%;
  }
  .cardtxt {
    text-align: center;
    margin-top: 8%;
  }
  .cardtxt .nearbyh {
    font-size: 6rem;
  }
  .cardtxt .nearbyp {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 414px) {
  .nearbyplaces {
    min-height: 120vh;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardtxt {
    text-align: center;
    margin-top: 12%;
  }
  .nearbytxt .nearbyh {
    font-size: 4rem;
  }
  .nearbytxt .nearbyp {
    font-size: 1.8rem;
  }
  .minigallery {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */